# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Yarn PnP
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test
coverage/

# Project-specific
output/
*.md
!README.md
